.chat-side
  .side-header
    .side-header__box
      %p.user_name user-name
      .icon
        = link_to "", class: "icon" do
          %i.fa.fa-edit
        = link_to "", class: "icon" do
          %i.fa.fa-cog

  .main
    .test_group test-group
    .test_message test-message
        