.side-bar {
  width: 300px;
  color: #FFFFFF; 
}
.header {
  background-color: #253141;
  height: 100px; 
  display: flex;
  align-items: center;
  padding : 0 20px;
}

.side-header__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.user_name {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.icon {
  text-decoration: none;
}

.icon:link {
  color: #FFFFFF;
}

.icon:visited {
  color: #FFFFFF;
}

.groups {
  background: #2f3e51;
  height: calc(100vh - 100px);
  padding-left: 20px;
  padding-right: 20px;
  
}

.group {
  font-size: 15px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 5px;
  text-decoration: none;
}

.group_message {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

